Repository EMMC-ASBL/otelib: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit autoupdate
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-yaml
      name: Check YAML
    - id: check-toml
      name: Check TOML
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/timothycrosley/isort
    rev: 5.12.0
    hooks:
    - id: isort
      args: ["--profile", "black", "--filter-files", "--skip-gitignore"]

  - repo: https://github.com/ambv/black
    rev: 23.3.0
    hooks:
    - id: black

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^otelib/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic"

  - repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      args: ["--rcfile=pyproject.toml", "--extension-pkg-whitelist='pydantic'"]
      language: python
      types: [python]
      require_serial: true
      files: ^.*$
      exclude: ^tests/.*$
    - id: pylint-tests
      name: pylint - tests
      entry: pylint
      args: ["--rcfile=pyproject.toml", "--extension-pkg-whitelist='pydantic'", "--disable=import-outside-toplevel,redefined-outer-name,duplicate-code,import-error"]
      language: python
      types: [python]
      require_serial: true
      files: ^tests/.*$

Use ruff (#131)
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  otelib/backends/python/__init__.py
  otelib/backends/python/client.py
  otelib/backends/services/__init__.py
  otelib/backends/services/client.py
  pyproject.toml
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Remove added pylint disable comment
  otelib/backends/services/base.py
Due: pylint

Run pre-commit
  tests/strategies/test_all_strategies.py
Due: pylint-tests

Implement __str__() method for all Enums
  otelib/backends/factories.py
  otelib/backends/python/base.py
  otelib/backends/services/base.py
  otelib/backends/utils.py
  tests/conftest.py
  tests/test_oteclient.py
  tests/utils.py
Due: pylint, pylint-tests

Revert line change (compared with master)
  otelib/backends/services/base.py
Due: pylint

Create StrEnum class from str, Enum mixin if <3.11
  otelib/backends/utils.py
  tests/conftest.py
  tests/utils.py
Due: pylint, pylint-tests

Revert explicitly casting Enums to str()
  otelib/backends/services/base.py
  tests/conftest.py
  tests/test_oteclient.py
Due: pylint, pylint-tests

Properly test python version
  otelib/backends/utils.py
  tests/conftest.py
  tests/utils.py
Due: pylint, pylint-tests

Use try/except instead of testing python_version
  otelib/backends/utils.py
  tests/conftest.py
  tests/utils.py
Due: pylint, pylint-tests

Remove Py3.11-specific block from codecoverage
  otelib/backends/utils.py
Due: pylint

Extend support to Python 3.11 (#136)
  .github/workflows/ci_tests.yml
  otelib/backends/utils.py
  pyproject.toml
  tests/conftest.py
  tests/test_oteclient.py
  tests/utils.py
Due: pylint, pylint-tests

Don't use filesamples.com ever
  tests/static/sample.json
  tests/utils.py
Due: pylint-tests

Explicitly check for non-zero return code
  tests/utils.py
Due: pylint-tests

Try to fix failing Windows test runs
  tests/strategies/test_all_strategies.py
Due: pylint-tests

Ensure path is in POSIX style
  tests/strategies/test_all_strategies.py
  tests/utils.py
Due: pylint-tests

Don't use filesamples.com (#152)
  tests/static/sample.json
  tests/utils.py
Due: pylint-tests

Revert "Bump codecov/codecov-action from 3 to 4 (#171)"
  .github/workflows/ci_tests.yml
Due: none

Update README.md
  README.md
Due: none

Add codecov token
  .github/workflows/ci_tests.yml
Due: none

add create parser function
  otelib/backends/services/__init__.py
  otelib/backends/services/parser.py
  otelib/backends/utils.py
  otelib/client.py
  tests/strategies/conftest.py
  tests/utils.py
Due: pylint, pylint-tests

Update README (#173)
  README.md
Due: none

fix pre-commit issues
  otelib/client.py
  tests/strategies/conftest.py
  tests/utils.py
Due: pylint, pylint-tests

add parser backend
  otelib/backends/python/dataresource.py
  otelib/backends/python/parser.py
Due: pylint

add parser to python back-end
  otelib/backends/python/__init__.py
Due: pylint

-
  otelib/backends/python/__init__.py
Due: pylint

requested changes
  otelib/backends/python/dataresource.py
  otelib/backends/python/parser.py
Due: pylint

add parser test data
  tests/utils.py
Due: pylint-tests

requested changes
  otelib/backends/python/__init__.py
Due: pylint

add parser to test_abc
  tests/strategies/test_abc.py
Due: pylint-tests

add parser to oteclient
  tests/strategies/test_abc.py
  tests/test_oteclient.py
Due: pylint-tests

fix test_pipe
  tests/test_pipe.py
Due: pylint-tests

update test_pipe
  tests/test_pipe.py
Due: pylint-tests

-
  tests/test_pipe.py
Due: pylint-tests

fix tests
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

update backend
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/parser.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

-
  otelib/backends/python/base.py
Due: pylint

fix name-error
  otelib/backends/python/base.py
Due: pylint

fix test all strategies
  otelib/backends/python/base.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
Due: pylint, pylint-tests
