Repository EMMC-ASBL/otelib: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,duplicate-code
  language: python
  require_serial: true

function returns set to be like services
  otelib/backends/python/function.py
Due: pylint

added abstract python strategy test
  tests/strategies_python/test_python_abc.py
Due: pylint-tests

added python pip test
  tests/test_pipe_python.py
Due: pylint-tests

skipping function tests, missing in oteapi
  tests/strategies_python/test_python_abc.py
  tests/strategies_python/test_python_function.py
  tests/strategies_services/test_abc.py
  tests/test_oteclient_python.py
  tests/test_oteclient_services.py
  tests/test_pipe_python.py
Due: pylint-tests

fixed bug in testing, ran linter
  otelib/backends/clients/__init__.py
  otelib/backends/clients/python.py
  otelib/backends/clients/service.py
  otelib/backends/python.py
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/client.py
  tests/strategies_python/test_python_abc.py
  tests/strategies_python/test_python_dataresource.py
  tests/strategies_python/test_python_filter.py
  tests/strategies_python/test_python_function.py
  tests/strategies_python/test_python_mapping.py
  tests/strategies_python/test_python_transformation.py
  tests/strategies_services/test_dataresource.py
  tests/strategies_services/test_filter.py
  tests/strategies_services/test_function.py
  tests/strategies_services/test_mapping.py
  tests/strategies_services/test_transformation.py
  tests/test_oteclient_python.py
  tests/test_pipe_python.py
Due: pylint, pylint-tests

started merging services and python backend tests together
  tests/conftest.py
  tests/strategies/test_abc.py
Due: pylint-tests

Add timeouts to request calls
  otelib/settings.py
  otelib/strategies/abc.py
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
  pyproject.toml
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

removed uneeded if block
  tests/strategies/test_abc.py
Due: pylint-tests

made backend override a bit more clover for test mocking
  docs/demo-notebooks/execute.ipynb
  test_pythonbackend.ipynb
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies_python/test_python_abc.py
Due: pylint-tests

Finished merging dataresource test
  tests/strategies/test_dataresource.py
Due: pylint-tests

merged remaining strategies
  tests/conftest.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
Due: pylint-tests

started to merge the pipe tests. Made test_abc use proper pytest skipping
  tests/strategies/test_abc.py
  tests/test_pipe.py
Due: pylint-tests

merged pipe tests
  tests/test_pipe.py
Due: pylint-tests

merged client tests
  tests/test_oteclient.py
Due: pylint-tests

removed separate tests
  tests/strategies_python/test_python_abc.py
  tests/strategies_python/test_python_dataresource.py
  tests/strategies_python/test_python_filter.py
  tests/strategies_python/test_python_function.py
  tests/strategies_python/test_python_mapping.py
  tests/strategies_python/test_python_transformation.py
  tests/strategies_services/test_abc.py
  tests/strategies_services/test_dataresource.py
  tests/strategies_services/test_filter.py
  tests/strategies_services/test_function.py
  tests/strategies_services/test_mapping.py
  tests/strategies_services/test_transformation.py
  tests/test_oteclient_python.py
  tests/test_oteclient_services.py
  tests/test_pipe_python.py
  tests/test_pipe_services.py
Due: pylint-tests

started fixing pre-commit issues
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

all precommit tests passing
  otelib/backends/clients/__init__.py
  otelib/backends/python.py
  otelib/backends/python/base.py
  otelib/backends/services.py
  otelib/backends/services/__init__.py
  otelib/backends/services/abc.py
  otelib/backends/services/base.py
  otelib/client.py
  tests/strategies/test_dataresource.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

moved location of clients
  otelib/backends/clients/__init__.py
  otelib/backends/python/client.py
  otelib/backends/services/client.py
  otelib/client.py
Due: pylint

cleanup of base services strategy. Both backend use the same abstract base strategy class
  otelib/backends/python/base.py
  otelib/backends/services/abc.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/backends/strategies.py
  tests/strategies/test_abc.py
Due: pylint, pylint-tests

refactor of stratgies to avoid duplication. Correcting of pylint suggestions
  otelib/backends/python/__init__.py
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services/__init__.py
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/backends/strategies.py
  otelib/client.py
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

removed commented out sections of demo notebook
  docs/demo-notebooks/execute.ipynb
Due: none

convert all strings to f strings
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/services/base.py
Due: pylint

pulled all instances attributes to class attributes
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  tests/strategies/test_abc.py
Due: pylint, pylint-tests

Apply suggestions from code review
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
  otelib/client.py
Due: pylint

changed imports for base strategies
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
Due: pylint

removed settings from python backend, replaced resource_id with self.id
  otelib/backends/python/base.py
  otelib/backends/python/client.py
Due: pylint

moved timeout back to settings, changed references to url to interpreter for python backend
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/python/dataresource.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
  tests/conftest.py
  tests/strategies/test_abc.py
Due: pylint, pylint-tests

added byte encoding to strategy returns
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
Due: pylint

removed uneeded pylint ignore messages
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
Due: pylint

made display_name in notebook generic
  docs/demo-notebooks/execute.ipynb
Due: none

add headers to ote-client
  otelib/client.py
  otelib/strategies/abc.py
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
Due: pylint

add retrieval from env-vars, add slash at the end of the urls
  otelib/client.py
  otelib/exceptions.py
  otelib/settings.py
  otelib/strategies/abc.py
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
  otelib/utils.py
Due: pylint

Implement authentication for the services backend
  otelib/backends/python/client.py
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/backends/services/dataresource.py
  otelib/client.py
Due: pylint

Use flit build system
  .github/workflows/cd_release.yml
  .github/workflows/ci_tests.yml
  MANIFEST.in
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  setup.py
Due: pylint

Use SINTEF/ci-cd
  .github/dependabot.yml
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  pyproject.toml
  tasks.py
Due: pylint

Remove pylinting root Py files
  .github/workflows/ci_tests.yml
Due: none

Use --recursive for 'tests' pylint
  .github/workflows/ci_tests.yml
  otelib/backends/python/base.py
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Fix typo
  .github/workflows/ci_tests.yml
Due: none

remove additional slash from urls with requests use query params
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
  otelib/utils.py
Due: pylint

mix and match tailing slashes in ote-routes
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
Due: pylint

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
