Repository EMMC-ASBL/otelib: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,duplicate-code
  language: python
  require_serial: true

Don't consider TYPE_CHECKING blocks for coverage
  otelib/pipe.py
  otelib/strategies/abc.py
Due: pylint

Disable `duplicate-code` for pylint in tests
  .github/workflows/ci_tests.yml
Due: none

Test pipe and creating a pipeline
  otelib/strategies/filter.py
  tests/conftest.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint, pylint-tests

Test the strategies' `get()` method directly
  tests/strategies/test_abc.py
  tests/test_pipe.py
Due: pylint-tests

Don't expect `tests` dir to be importable
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint-tests

Correct typo in readme (#23)
  README.md
Due: none

Ensure there is no mixing of variables between tests
  tests/conftest.py
Due: pylint-tests

Use proper names for pylint disables
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Add more tests (#27)
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  otelib/pipe.py
  otelib/strategies/abc.py
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint, pylint-tests

Add function strategy
  otelib/strategies/dataresource.py
  otelib/strategies/function.py
  tests/conftest.py
  tests/strategies/test_function.py
Due: pylint, pylint-tests

Skip tests for function with real function
  tests/strategies/test_function.py
Due: pylint-tests

Implement function in OTEClient
  otelib/client.py
  otelib/strategies/__init__.py
  tests/strategies/test_function.py
Due: pylint, pylint-tests

Test Function in parameterized tests
  tests/utils.py
Due: pylint-tests

Skip function tests where there is not func strat
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Add badges to README
  README.md
Due: none

Add Function strategy (#30)
  README.md
  otelib/client.py
  otelib/strategies/__init__.py
  otelib/strategies/dataresource.py
  otelib/strategies/function.py
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_function.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint, pylint-tests

Add invoke task to update version
  requirements_dev.txt
  tasks.py
Due: pylint

Update README.md
  README.md
Due: none

Added final newline
  README.md
Due: none

Added PR template with checklist for reviewers.
  .github/pull_request_template.md
Due: none

Added PR template with checklist for reviewers. (#37)
  .github/pull_request_template.md
Due: none

Ensure pylint runs in CI
  .github/workflows/ci_tests.yml
Due: none

Start of creating agnostic backends
  otelib/backends/__init__.py
  otelib/backends/services/__init__.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/backends/strategies.py
  otelib/clients/__init__.py
  otelib/clients/python.py
  otelib/clients/services.py
  otelib/strategies/__init__.py
  otelib/strategies/abc.py
Due: pylint

Update the notebook and README
  README.md
  docs/demo-notebooks/execute.ipynb
Due: none

added demo notebook for python backend
  test_pythonbackend.ipynb
Due: none

Use docker instead of docker-compose for CI
  .github/utils/docker-compose.yml
  .github/workflows/ci_tests.yml
Due: none

Be consistent with the formatting in the README
  README.md
Due: none

Ignore import errors for local package for pylint
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Fix redit hostname for new docker CI setup
  .github/workflows/ci_tests.yml
Due: none

Use docker instead of docker-compose for CI (#58)
  .github/utils/docker-compose.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  README.md
Due: none

improved demo with all methods in 'proper' locations
  otelib/backends/clients/__init__.py
  otelib/backends/clients/python.py
  otelib/backends/clients/service.py
  otelib/backends/python.py
  otelib/backends/python/__init__.py
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services.py
  otelib/backends/services/base.py
  otelib/clients/__init__.py
  test_pythonbackend.ipynb
Due: pylint

added rest of python backend strategies
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  test_pythonbackend.ipynb
Due: pylint

getting tests to work partially complete
  otelib/backends/python/dataresource.py
  otelib/backends/services/__init__.py
  otelib/backends/services/abc.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/strategies/__init__.py
  otelib/strategies/dataresource.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
Due: pylint, pylint-tests

fixed issue with testing abc strategy
  tests/strategies/test_abc.py
Due: pylint-tests

fixed remaining tests
  tests/test_pipe.py
Due: pylint-tests

added some python backend tests for dataresource, renaming of files
  otelib/backends/python/dataresource.py
  tests/strategies_python/test_dataresource.py
  tests/strategies_services/test_abc.py
  tests/strategies_services/test_dataresource.py
  tests/strategies_services/test_filter.py
  tests/strategies_services/test_function.py
  tests/strategies_services/test_mapping.py
  tests/strategies_services/test_transformation.py
  tests/test_pipe_services.py
Due: pylint, pylint-tests

python backend test now working
  tests/strategies_python/test_dataresource.py
Due: pylint-tests

made python-backend responses the same as services-backend. Both for the underlying strategies as well as for the tests
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  tests/strategies_python/test_python_dataresource.py
  tests/strategies_python/test_python_filter.py
  tests/strategies_python/test_python_function.py
Due: pylint, pylint-tests

added working test for filter method in python backend
  otelib/backends/python/filter.py
  tests/strategies_python/test_python_filter.py
Due: pylint, pylint-tests

added mapping and transformation python tests
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  tests/strategies_python/test_python_mapping.py
  tests/strategies_python/test_python_transformation.py
Due: pylint, pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
