Repository EMMC-ASBL/otelib: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,duplicate-code
  language: python
  require_serial: true

Use recursive option for pylint-tests in CI
  .github/workflows/ci_tests.yml
Due: none

Use recursive option for pylint-tests in CI (#80)
  .github/workflows/ci_tests.yml
Due: none

add run and status methods to transformation strategy
  otelib/strategies/transformation.py
Due: pylint

Comply with PEP484
  tasks.py
Due: pylint

Make session an AttrDict
  otelib/backends/python/base.py
  otelib/pipe.py
Due: pylint

Make sure that the session is an AttrDict.
  otelib/backends/python/base.py
Due: pylint

Make fetch() return entire session instead of SessionUpdate from last filter in the pipeline.
  otelib/backends/python/base.py
Due: pylint

Added blank line suggested by isort
  otelib/pipe.py
Due: pylint

Update CI/CD & use `flit` build system (#77)
  .github/dependabot.yml
  .github/utils/release_tag_msg.txt
  .github/utils/single_dependency_pr_body.txt
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  MANIFEST.in
  otelib/backends/python/base.py
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  setup.py
  tasks.py
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Renamed argument of Pipe.get() to `session_id` to reduce confusion.
  otelib/pipe.py
Due: pylint

Added some missing docstrings
  otelib/backends/python/base.py
Due: pylint

Renamed argument of Pipe.get() to `session_id` to reduce confusion (#91)
  otelib/pipe.py
Due: pylint

update settings for auth function
  otelib/client.py
  otelib/settings.py
  otelib/strategies/transformation.py
  otelib/utils.py
Due: pylint

update requirements.txt
  requirements.txt
Due: none

update settings
  otelib/client.py
  otelib/settings.py
Due: pylint

only include headers in otelib-client, neglet login-functions
  otelib/client.py
  otelib/settings.py
Due: pylint

adapt submission of headers according to changes in master
  otelib/backends/services/base.py
  otelib/backends/services/client.py
Due: pylint

remore unneeded files, add TYPE_CHECKING to headers
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/backends/services/dataresource.py
  otelib/client.py
  otelib/strategies/filter.py
  otelib/strategies/function.py
  otelib/strategies/mapping.py
  otelib/strategies/transformation.py
Due: pylint

remove requirements.txt
  requirements.txt
Due: none

remove unused import
  otelib/settings.py
Due: pylint

Update to isort hook v5.12.0
  .pre-commit-config.yaml
Due: none

Support "triples" being a Set in mapping strategy
  otelib/backends/services/base.py
  tests/strategies/test_mapping.py
Due: pylint, pylint-tests

Don't use `json` param in requests for models
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
Due: pylint

Handle testing mapping strategy specially
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Support "triples" being a Set in mapping strategy
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services/base.py
  tests/strategies/test_abc.py
  tests/strategies/test_mapping.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Satisfy black
  otelib/backends/services/client.py
Due: pylint

Clean up backend split a bit
  docs/demo-notebooks/execute.ipynb
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/services/__init__.py
  otelib/backends/services/base.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/backends/strategies.py
  otelib/exceptions.py
  otelib/pipe.py
  pyproject.toml
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Remove uses of old Cache class
  test_pythonbackend.ipynb
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Test all strategies and for all backends
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/services/base.py
  otelib/backends/strategies.py
  tests/conftest.py
  tests/strategies/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_generic_tests.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint, pylint-tests

Abstract Client classes
  otelib/backends/client.py
  otelib/backends/factories.py
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/backends/strategies.py
  otelib/backends/utils.py
  otelib/client.py
  otelib/exceptions.py
  tests/conftest.py
  tests/test_oteclient.py
Due: pylint, pylint-tests

Also sort "triples" response for real backend
  tests/strategies/test_generic_tests.py
Due: pylint-tests

Fix error messages for services backend
  otelib/backends/services/base.py
Due: pylint

Update expected celery/remote transformation result
  tests/conftest.py
  tests/utils.py
Due: pylint-tests

Revert "fix" for mock result to correct attr name
  tests/conftest.py
Due: pylint-tests

Check transformation-services real backend differently
  tests/strategies/test_abc.py
  tests/strategies/test_generic_tests.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Fix variable names
  tests/strategies/test_abc.py
  tests/strategies/test_generic_tests.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Similar fixes as previous commit
  tests/strategies/test_abc.py
  tests/test_pipe.py
Due: pylint-tests

Only drop into edge case if real backend
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Change test file name according to review
  tests/strategies/test_all_strategies.py
Due: pylint-tests

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
