Repository EMMC-ASBL/otelib: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pylint-tests

pylint:
  name: pylint
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  language: python
  require_serial: true

pylint-tests:
  name: pylint - tests
  entry: pylint
  args:
  - --rcfile=pyproject.toml
  - --extension-pkg-whitelist='pydantic'
  - --disable=C0415,W0621,duplicate-code
  language: python
  require_serial: true

Celery updates (#103)
  docs/demo-notebooks/execute.ipynb
  otelib/backends/client.py
  otelib/backends/factories.py
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/python/dataresource.py
  otelib/backends/services/__init__.py
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/backends/services/dataresource.py
  otelib/backends/services/filter.py
  otelib/backends/services/function.py
  otelib/backends/services/mapping.py
  otelib/backends/services/transformation.py
  otelib/backends/strategies.py
  otelib/backends/utils.py
  otelib/client.py
  otelib/exceptions.py
  otelib/pipe.py
  pyproject.toml
  test_pythonbackend.ipynb
  tests/conftest.py
  tests/strategies/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
  tests/strategies/test_dataresource.py
  tests/strategies/test_filter.py
  tests/strategies/test_function.py
  tests/strategies/test_mapping.py
  tests/strategies/test_transformation.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint, pylint-tests

remove obsolete exception, update settings attributes
  otelib/exceptions.py
  otelib/settings.py
Due: pylint

add capturing of kwargs on python-client, add pytest for capturing warnings
  otelib/backends/python/client.py
  tests/test_config.py
Due: pylint, pylint-tests

add filterwarnings in pytest
  tests/test_config.py
Due: pylint-tests

Add and use custom warnings
  otelib/backends/client.py
  otelib/backends/services/client.py
  otelib/warnings.py
  tests/test_config.py
Due: pylint, pylint-tests

remove obsolete settings-attributes for default host (ote-services)
  otelib/settings.py
Due: pylint

Add checks to make sure input_pipe is set to the first filter
  otelib/backends/strategies.py
Due: pylint

add a new function to find the first filter in a pipeline
  otelib/backends/strategies.py
Due: pylint

rename variables
  otelib/backends/strategies.py
Due: pylint

move default content type to header-setter
  otelib/backends/services/base.py
Due: pylint

remove unneeded code lines
  otelib/backends/services/base.py
Due: pylint

add content-type setter to services-client
  otelib/backends/services/client.py
Due: pylint

Enh/add auth (#96)
  otelib/backends/client.py
  otelib/backends/python/client.py
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/client.py
  otelib/warnings.py
  tests/test_config.py
Due: pylint, pylint-tests

Added DOI badge
  README.md
Due: none

added unit test for bug
  tests/test_pipe.py
Due: pylint-tests

removed commented out old test
  tests/test_pipe.py
Due: pylint-tests

Doi badge (#115)
  README.md
Due: none

Revert "Bump codecov/codecov-action from 3 to 4 (#125)"
  .github/workflows/ci_tests.yml
Due: none

Revert "Bump codecov/codecov-action from 3 to 4 (#125)" (#128)
  .github/workflows/ci_tests.yml
Due: none

Remove all things pylint, replacing it with ruff
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
  otelib/backends/python/__init__.py
  otelib/backends/python/client.py
  otelib/backends/services/__init__.py
  otelib/backends/services/client.py
  pyproject.toml
  test_pythonbackend.ipynb
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Add Ruff CI job
  .github/workflows/ci_tests.yml
Due: none

Fix issue with tests for the DataResource
  tests/conftest.py
  tests/static/sample2.json
  tests/strategies/test_abc.py
Due: pylint-tests

Remove notebook
  test_pythonbackend.ipynb
Due: none

Backtrack - use `testdata` fixture everywhere instead
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  tests/static/sample2.json
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Extended the associated comments for the if-condition
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Fix test issue (#132)
  .pre-commit-config.yaml
  pyproject.toml
  test_pythonbackend.ipynb
  tests/strategies/test_abc.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Have all strategy response types be AttrDict
  otelib/backends/python/base.py
  otelib/backends/python/dataresource.py
  otelib/backends/services/base.py
  otelib/backends/strategies.py
  otelib/pipe.py
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint, pylint-tests

Update demo notebook
  docs/demo-notebooks/execute.ipynb
Due: none

Update SINTEF/ci-cd usage to v2.5.1 (was v1)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

Extend support to Python 3.11
  .github/workflows/ci_tests.yml
  pyproject.toml
Due: none

Try using `Backend.value` when it makes sense
  otelib/backends/factories.py
  tests/conftest.py
  tests/test_oteclient.py
Due: pylint, pylint-tests

Use `value` property for all enums
  otelib/backends/factories.py
  otelib/backends/python/base.py
  otelib/backends/services/base.py
Due: pylint

Corrected the usage of Enum. The value attribute is required in Python 3.11+
  otelib/backends/factories.py
Due: pylint

Update SINTEF/ci-cd v2.5.1 -> v2.5.2
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

Apply suggestions from code review
  pyproject.toml
Due: none

Update ruff version and remove CI job
  .github/workflows/ci_tests.yml
  .pre-commit-config.yaml
Due: none

Migrate to pydantic v2
  .pre-commit-config.yaml
  otelib/backends/client.py
  otelib/backends/factories.py
  otelib/backends/python/base.py
  otelib/backends/python/client.py
  otelib/backends/python/dataresource.py
  otelib/backends/python/filter.py
  otelib/backends/python/function.py
  otelib/backends/python/mapping.py
  otelib/backends/python/transformation.py
  otelib/backends/services/base.py
  otelib/backends/services/client.py
  otelib/backends/strategies.py
  otelib/client.py
  otelib/settings.py
  pyproject.toml
  tests/conftest.py
  tests/strategies/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
  tests/test_oteclient.py
  tests/test_pipe.py
  tests/utils.py
Due: pylint, pylint-tests

Update protocol doc-strings
  tests/conftest.py
  tests/strategies/test_abc.py
  tests/strategies/test_all_strategies.py
  tests/test_oteclient.py
  tests/test_pipe.py
Due: pylint-tests

Update SINTEF/ci-cd usage to v2.5.2 (was v1) (#135)
  .github/workflows/cd_release.yml
  .github/workflows/ci_automerge_dependabot.yml
  .github/workflows/ci_cd_updated_master.yml
  .github/workflows/ci_check_dependencies.yml
  .github/workflows/ci_dependabot.yml
  .github/workflows/ci_tests.yml
Due: none

Use latest version of ruff (0.1.0)
  .pre-commit-config.yaml
Due: none

Path conditions:
  pylint: any of: ^.*$ and \.py$ and not (^tests/.*$)
  pylint-tests: any of: ^tests/.*$ and \.py$
